<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.dao.ListStaticMapper">
  <resultMap id="BaseResultMap" type="com.zking.pojo.ListStatic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="list_type" jdbcType="VARCHAR" property="listType" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_value" jdbcType="VARCHAR" property="itemValue" />
    <result column="b_time" jdbcType="TIMESTAMP" property="bTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, list_type, item_name, item_value, b_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_static
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByListType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_static
    where list_type = #{listType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_static
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.pojo.ListStatic">
    insert into tb_static (id, list_type, item_name, 
      item_value, b_time)
    values (#{id,jdbcType=INTEGER}, #{listType,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{itemValue,jdbcType=VARCHAR}, #{bTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.pojo.ListStatic">
    insert into tb_static
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="listType != null">
        list_type,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="itemValue != null">
        item_value,
      </if>
      <if test="bTime != null">
        b_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="listType != null">
        #{listType,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemValue != null">
        #{itemValue,jdbcType=VARCHAR},
      </if>
      <if test="bTime != null">
        #{bTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.pojo.ListStatic">
    update tb_static
    <set>
      <if test="listType != null">
        list_type = #{listType,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemValue != null">
        item_value = #{itemValue,jdbcType=VARCHAR},
      </if>
      <if test="bTime != null">
        b_time = #{bTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.pojo.ListStatic">
    update tb_static
    set list_type = #{listType,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_value = #{itemValue,jdbcType=VARCHAR},
      b_time = #{bTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>