<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.dao.RepositoryMapper">
  <resultMap id="BaseResultMap" type="com.zking.pojo.Repository">
    <id column="repository_id" jdbcType="INTEGER" property="repositoryId" />
    <result column="repository_name" jdbcType="VARCHAR" property="repositoryName" />
    <result column="repository_address" jdbcType="VARCHAR" property="repositoryAddress" />
    <result column="repository_admin" jdbcType="VARCHAR" property="repositoryAdmin" />
    <result column="repository_rs1" jdbcType="VARCHAR" property="repositoryRs1" />
    <result column="repository_rs2" jdbcType="VARCHAR" property="repositoryRs2" />
    <result column="repository_rs3" jdbcType="VARCHAR" property="repositoryRs3" />
    <result column="repository_rs4" jdbcType="VARCHAR" property="repositoryRs4" />
    <result column="repository_rs5" jdbcType="VARCHAR" property="repositoryRs5" />
    <result column="repository_rs6" jdbcType="VARCHAR" property="repositoryRs6" />
    <result column="repository_rs7" jdbcType="VARCHAR" property="repositoryRs7" />
    <result column="repository_rs8" jdbcType="VARCHAR" property="repositoryRs8" />
    <result column="repository_rs9" jdbcType="VARCHAR" property="repositoryRs9" />
    <result column="repository_rs10" jdbcType="VARCHAR" property="repositoryRs10" />
  </resultMap>
  <sql id="Base_Column_List">
    repository_id, repository_name, repository_address, repository_admin, repository_rs1, 
    repository_rs2, repository_rs3, repository_rs4, repository_rs5, repository_rs6, repository_rs7, 
    repository_rs8, repository_rs9, repository_rs10
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_repository
    where repository_id = #{repositoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_repository
    where repository_id = #{repositoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.pojo.Repository">
    insert into tb_repository (repository_id, repository_name, repository_address, 
      repository_admin, repository_rs1, repository_rs2, 
      repository_rs3, repository_rs4, repository_rs5, 
      repository_rs6, repository_rs7, repository_rs8, 
      repository_rs9, repository_rs10)
    values (#{repositoryId,jdbcType=INTEGER}, #{repositoryName,jdbcType=VARCHAR}, #{repositoryAddress,jdbcType=VARCHAR}, 
      #{repositoryAdmin,jdbcType=VARCHAR}, #{repositoryRs1,jdbcType=VARCHAR}, #{repositoryRs2,jdbcType=VARCHAR}, 
      #{repositoryRs3,jdbcType=VARCHAR}, #{repositoryRs4,jdbcType=VARCHAR}, #{repositoryRs5,jdbcType=VARCHAR}, 
      #{repositoryRs6,jdbcType=VARCHAR}, #{repositoryRs7,jdbcType=VARCHAR}, #{repositoryRs8,jdbcType=VARCHAR}, 
      #{repositoryRs9,jdbcType=VARCHAR}, #{repositoryRs10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.pojo.Repository">
    insert into tb_repository
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="repositoryId != null">
        repository_id,
      </if>
      <if test="repositoryName != null">
        repository_name,
      </if>
      <if test="repositoryAddress != null">
        repository_address,
      </if>
      <if test="repositoryAdmin != null">
        repository_admin,
      </if>
      <if test="repositoryRs1 != null">
        repository_rs1,
      </if>
      <if test="repositoryRs2 != null">
        repository_rs2,
      </if>
      <if test="repositoryRs3 != null">
        repository_rs3,
      </if>
      <if test="repositoryRs4 != null">
        repository_rs4,
      </if>
      <if test="repositoryRs5 != null">
        repository_rs5,
      </if>
      <if test="repositoryRs6 != null">
        repository_rs6,
      </if>
      <if test="repositoryRs7 != null">
        repository_rs7,
      </if>
      <if test="repositoryRs8 != null">
        repository_rs8,
      </if>
      <if test="repositoryRs9 != null">
        repository_rs9,
      </if>
      <if test="repositoryRs10 != null">
        repository_rs10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="repositoryId != null">
        #{repositoryId,jdbcType=INTEGER},
      </if>
      <if test="repositoryName != null">
        #{repositoryName,jdbcType=VARCHAR},
      </if>
      <if test="repositoryAddress != null">
        #{repositoryAddress,jdbcType=VARCHAR},
      </if>
      <if test="repositoryAdmin != null">
        #{repositoryAdmin,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs1 != null">
        #{repositoryRs1,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs2 != null">
        #{repositoryRs2,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs3 != null">
        #{repositoryRs3,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs4 != null">
        #{repositoryRs4,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs5 != null">
        #{repositoryRs5,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs6 != null">
        #{repositoryRs6,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs7 != null">
        #{repositoryRs7,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs8 != null">
        #{repositoryRs8,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs9 != null">
        #{repositoryRs9,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs10 != null">
        #{repositoryRs10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.pojo.Repository">
    update tb_repository
    <set>
      <if test="repositoryName != null">
        repository_name = #{repositoryName,jdbcType=VARCHAR},
      </if>
      <if test="repositoryAddress != null">
        repository_address = #{repositoryAddress,jdbcType=VARCHAR},
      </if>
      <if test="repositoryAdmin != null">
        repository_admin = #{repositoryAdmin,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs1 != null">
        repository_rs1 = #{repositoryRs1,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs2 != null">
        repository_rs2 = #{repositoryRs2,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs3 != null">
        repository_rs3 = #{repositoryRs3,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs4 != null">
        repository_rs4 = #{repositoryRs4,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs5 != null">
        repository_rs5 = #{repositoryRs5,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs6 != null">
        repository_rs6 = #{repositoryRs6,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs7 != null">
        repository_rs7 = #{repositoryRs7,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs8 != null">
        repository_rs8 = #{repositoryRs8,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs9 != null">
        repository_rs9 = #{repositoryRs9,jdbcType=VARCHAR},
      </if>
      <if test="repositoryRs10 != null">
        repository_rs10 = #{repositoryRs10,jdbcType=VARCHAR},
      </if>
    </set>
    where repository_id = #{repositoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.pojo.Repository">
    update tb_repository
    set repository_name = #{repositoryName,jdbcType=VARCHAR},
      repository_address = #{repositoryAddress,jdbcType=VARCHAR},
      repository_admin = #{repositoryAdmin,jdbcType=VARCHAR},
      repository_rs1 = #{repositoryRs1,jdbcType=VARCHAR},
      repository_rs2 = #{repositoryRs2,jdbcType=VARCHAR},
      repository_rs3 = #{repositoryRs3,jdbcType=VARCHAR},
      repository_rs4 = #{repositoryRs4,jdbcType=VARCHAR},
      repository_rs5 = #{repositoryRs5,jdbcType=VARCHAR},
      repository_rs6 = #{repositoryRs6,jdbcType=VARCHAR},
      repository_rs7 = #{repositoryRs7,jdbcType=VARCHAR},
      repository_rs8 = #{repositoryRs8,jdbcType=VARCHAR},
      repository_rs9 = #{repositoryRs9,jdbcType=VARCHAR},
      repository_rs10 = #{repositoryRs10,jdbcType=VARCHAR}
    where repository_id = #{repositoryId,jdbcType=INTEGER}
  </update>
  <select id="allList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_repository a
    <if test="rows!=0">
    limit #{start},#{rows}
    </if>
  </select>
  <select id="partList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_repository a
    where
    ${selectType} like #{selectValue}
    <if test="rows!=0">
    limit #{start},#{rows}
    </if>
  </select>
  <select id="listPage" resultType="java.lang.Integer">
    select
    sum(1)
    from tb_repository a
    <if test="selectType!=null and selectType!=''">
      where ${selectType} like #{selectValue}
    </if>
  </select>
</mapper>